<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/index.js"></script>
<script type="text/javascript">
        //打开页面的时候保存票据信息
        var UserName = '@ViewBag.UserName';
	var Ticket = '@ViewBag.Ticket';

</script>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>当前登录用户：'@ViewBag.UserName'</div>

<div id="div_test">

</div>


